body {
	background-image: url("../images/parchment.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.gameArea {
	background-color: #00bcd4;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 40px;
}

h1 {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 56px;
}

h2 {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 48px;
}

h4 {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 32px;
}

#startButton {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 36px;
	padding: 20px 40px 20px 40px;
	margin-bottom: 40px;
    border: 2px solid black;
	/*animation-name: MyAnimation;
	animation-duration: 40s;
	animation-iteration-count: infinite;*/
}

/* testing key frames and animations */
/*@keyframes MyAnimation {
	0% {
		background-color: black;
	}

	20% {
		background-color: red;
	}

	40% {
		background-color: green;
	}

	60% {
		background-color: blue;
	}

	80% {
		background-color: white;
	}

	100% {
		background-color: black;
	}
}*/


h3 {
	margin-top: 40px;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 32px;
}

.radio-inline {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 14px;
}

#doneButton {
	margin-top: 40px;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 36px;
	padding: 20px 40px 20px 40px;
	background-color: #00bcd4;
    
}

#doneButton:hover {
	border: 2px solid black;
	background-color: #a24680;

}